body {
    background-image: url("image/hategroup.gif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
   }

   h1 {
       color: whitesmoke;
text-align: center;
font-size: 50px;
   }

   h2 {
    color: whitesmoke;
text-align: center;
font-size: 30px;
}

h3 {
    color: whitesmoke;
text-align: center;
font-size: 60px;
}
.buttonFlex {
        color: whitesmoke;
    text-align: center;
    font-size: 40px;
}

a {
    color:whitesmoke;
    text-decoration: none;
}
a:link {
    background-color: red;
    text-decoration: none;
}
a:hover {
    background-image: url("image/buttonimg.gif");

    background-color: whitesmoke;
}